@font-face {
  font-family: "type_keysregular";
  src: url("/fonts/typekeys-e1kl-webfont.woff2") format("woff2"),
    url("/fonts/typekeys-e1kl-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "type_keys_filledregular";
  src: url("/fonts/typekeysfilled-wjkg-webfont.woff2") format("woff2"),
    url("/fonts/typekeysfilled-wjkg-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
:root {
  --heading-font: "Prata", serif;
  --title-font: "type_keys_filledregular", serif;
  --body-font: "Prata", serif;
  --dark-1: #22333b;
  --dark-1-opaque: rgb(34, 51, 59, 0.9);
  --light-1: #e4e8f4;
  --light-2: rgb(123, 113, 87, 0.4);
  --light-3: #f2f4f3;
  --img-colour-offset: 20px 20px #d4b68e;
  --shadow: rgba(149, 157, 165, 0.3) 1px 8px 24px;
}

.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/typewritwer.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-bottom: 0.5px solid #5f6165;
  padding: 300px 0;
}
.logo-img {
  height: 70px;
}
.title-container {
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.01)
  );
}
.title {
  font-family: var(--heading-font);
  text-align: left;
  font-size: 50px;
  line-height: 1.5;
  margin-top: 0;
  padding-top: 10px;
  margin: 0 10px;
}
.subtitle {
  font-weight: lighter;
  font-size: 20px;
  text-align: left;
  text-transform: uppercase;
  padding: 30px 10px;
}
.button-branding-1 {
  display: inline-block;
  text-decoration: none;
  color: white;
  background-color: #2c426c;
  border: 1px solid #2c426c;
  padding: 10px;
  border-radius: 5px;
  margin: 10px 0;
}
.button-branding-1:hover {
  color: #2c426c;
  background-color: transparent;
  transition: 200ms ease-in-out;
}
h2,
h3 {
  font-family: var(--heading-font);
}
h3 {
  padding: 30px 10px;
  font-size: 35px;
}
body {
  font-family: var(--body-font);
}
main {
  display: block;
  position: relative;
  margin-bottom: 0; /* Remove if unnecessary */
}
p,
div {
  font-family: var(--body-font);
}
.grid-2-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.inner-grid {
  padding: 10px;
  margin: 10px;
}
.grid-2-columns-left-short,
.grid-2-columns-right-short {
  margin-bottom: 20px;
  display: grid;
  grid-gap: 50px;
  max-width: 1200px;
  font-size: 17px;
  justify-items: center;
  align-items: center;
}
.grid-2-columns-left-short {
  grid-template-columns: 1fr 3fr;
}
.grid-2-columns-right-short {
  grid-template-columns: 3fr 1fr;
}
.grid-2-columns-right-short-start-align {
  display: grid;
  grid-template-columns: 2fr 120px;
  align-items: center;
}
.grid-2-columns-right-short-start-align a {
  justify-self: self-start;
}
.testimonial-book-cover-img {
  display: flex;
  flex: 1;
  max-width: 161px;
}
.testimonial-book-cover-img img {
  width: 100%;
  height: 100%;
}
.featured-book-2,
.featured-book-3 {
  border-left: 3px solid #2c426c15;
}
.featured-book-cover-img {
  height: 30vw;
  margin: 0 auto;
}
#slider {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}
.slider-container {
  max-width: 1600px;
  margin: auto;
}
.slider-subcontainer {
  width: 85%;
  margin: auto;
}
.slide-img {
  max-width: 100%;
  height: 300px;
  border-radius: 5px;
  background-position: center;
  background-size: cover;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}
.slide-img:hover {
  box-shadow: 0 0 0 200px rgba(0, 0, 0, 0.7) inset;
}
.slide-img a {
  opacity: 0;
  text-decoration: none;
  transform: scale(0);
  transition: 0.8s;
  font-size: 1.5rem;
  color: white;
}
.slide-img:hover a {
  opacity: 1;
  transform: scale(1);
}

.tagline {
  font-family: var(--heading-font);
  font-size: 25px;
  font-style: italic;
  font-weight: 100;
  margin-bottom: 20px;
}
.page-title {
  margin-top: 60px;
  font-size: 60px;
}
.about-page-subtitle {
  margin-top: 15px;
  margin-bottom: 60px;
  font-weight: lighter;
  font-size: 20px;
}
.about-paragraphs {
  box-shadow: var(--shadow);
  margin: 30px;
  border-radius: 10px;
  padding: 10px;
  background-color: var(--light-2);
}
/* .btn-outline-dark {
  background-color: var(--light-2);
  border: solid 2px black;
  padding: 7px;
  border-radius: 4px;
  box-shadow: var(--shadow);
} */
.btn-outline-dark a {
  font-family: var(--body-font);
  color: #212529;
  text-decoration: none;
}

.bio-book-title {
  font-weight: bold;
  font-style: italic;
}
.features {
  font-family: var(--body-font);
  display: flex;
  align-items: center;
  justify-content: center;
}

.highlight-photo {
  border-radius: 4px;
}
.grid-img img {
  box-shadow: var(--shadow);
  border-radius: 4px;
  margin-bottom: 20px;
}
/* need a max width media thingy for md breakpoint for images in grid */
.grid-img img:hover {
  transform: scale(1.3);
  transition: 200ms;
}
.book-title {
  font-style: italic;
}
.testimonial-container {
  padding-bottom: 20px;
  /* border-bottom: rgb(26, 35, 50, 0.04) solid 2px; */
}
.testimonial {
  font-family: var(--body-font);
}
.testimonial-byline {
  font-weight: bold;
}
.fa-quote-left,
.fa-quote-right {
  opacity: 0.1;
  font-size: 120px;
}
footer {
  font-family: var(--body-font);
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../images/footer-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 10px;
  display: block;

  color: white;
  height: 200px;
}
footer a {
  color: rgb(255, 255, 255, 0.7);
}
footer .creator-credits {
  margin-top: 70px;
  font-size: 12px;
  opacity: 60%;
}
/* custom bootstrap element css */

.navbar-custom {
  background-color: white;
  font-family: var(--body-font);
}
.nav-item-custom {
  display: flex;
  justify-content: flex-end;
}

/* Hover effects or similar */
.btn-outline-dark-custom:hover {
  color: white;
  background-color: var(--light-3);
  transition: 200ms;
}
.btn-outline-dark-custom:hover a {
  color: white;
}
.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start {
  transform: translateX(0);
}

/*media queries here*/

@media (max-width: 567px) {
  .featured-book-cover-img {
    height: 100vw;
  }
}
@media (max-width: 768px) {
  .feature-img {
    width: max-content;
    display: block;
    margin: 0 auto;
  }
  .hero {
    text-align: center;
  }
  h1,
  h2,
  h3 {
    text-align: center;
  }

  .grid-2-columns {
    text-align: center;
    grid-template-columns: 1fr;
  }

  .featured-book-cover-img {
    height: 65vw;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

@media (max-width: 1000px) {
  .inner-grid {
    grid-template-columns: 1fr;
    text-align: center;
  }
}

@media (min-width: 1500px) {
  .grid-2-columns {
    font-size: 20px;
  }
}
