:root {
  --heading-font: "Merriweather", serif;
  --body-font: Georgia, "Times New Roman", Times, serif;
  --dark-1: #22333b;
  --light-1: #e4e8f4;
  --light-2: #a9927d;
  --light-3: #f2f4f3;
  --img-colour-offset: 20px 20px #1a2332;
  --shadow: rgba(149, 157, 165, 0.3) 1px 8px 24px;
}
.hero {
  background-color: var(--light-2);
}
.level-1-section {
  padding-top: 60px;
}
.heading1 {
  padding-top: 100px;
  margin: 0 10px;
  font-size: 80px;
}
.heading2 {
  margin: 40px 10px;
}
h1,
h2,
h3 {
  font-family: var(--heading-font);
  font-weight: bold;
  color: var(--dark-1);
}
body {
  font-family: var(--body-font);
  color: var(--dark-1);
}
p {
  font-family: var(--body-font);
}
.tagline {
  font-family: var(--body-font);
  font-size: 25px;
  font-weight: bold;
}

.about-paragraphs {
  box-shadow: var(--shadow);
  margin: 30px;
  border-radius: 10px;
  padding: 10px;
  max-width: 700px;
}
.branding-button {
  background-color: var(--light-2);
  border: solid 2px black;
  padding: 7px;
  border-radius: 4px;
  box-shadow: var(--shadow);
}
.branding-button a {
  background-color: none;
  color: #1a2332;
  text-decoration: none;
}
.bio-book-title {
  font-weight: bold;
  font-style: italic;
}
.features .book-odd {
  display: flex;
  justify-content: space-evenly;
  background: var(--dark-1);
  color: var(--light-1);
}
.features .book-even {
  display: flex;
  justify-content: space-evenly;
  color: var(--dark-1);
}
.feature-img {
  padding: 20px;
}
.highlight-photo {
  box-shadow: var(--img-colour-offset);
}
.grid-img img {
  box-shadow: var(--shadow);
  border-radius: 4px;
  margin-bottom: 20px;
}
/* need a max width media thingy for md breakpoint for images in grid */
.grid-img img:hover {
  transform: scale(1.3);
  transition: 200ms;
}
.branding-button:hover {
  color: var(--light-1);
  background-color: var(--light-3);
  transition: 200ms;
}
.navbar-custom {
  background-color: white;
  font-family: var(--body-font);
}
.nav-item-custom {
  display: flex;
  justify-content: flex-end;
}
/* .container-work {
  margin: 100px 200px;
} */

@media (max-width: 768px) {
  .feature-img {
    width: max-content;
  }
  .hero {
    text-align: center;
  }
  h1,
  h2,
  h3 {
    text-align: center;
  }
  .feature-img {
    display: block;
    margin: 0 auto;
  }
}
